.settings-page {
    padding: 20px;
}

.settings-content {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.settings-card h2 {
    margin-top: 0;
    color: var(--clr-primary);
}

.content-grid-one {
    display: grid;
    column-gap: 16px;
}

.content-grid-two {
    display: grid;
    column-gap: 16px;
}